services:
  web:
    build: ./apache-php
    container_name: apache_php
    ports:
      - "8080:80"
    depends_on:
      - rclone
    volumes:
      - ./apache-php:/var/www/html
      - ./apache-php/.env:/var/www/html/.env:ro

  rclone:
    image: rclone/rclone:latest
    container_name: rclone_onedrive
    volumes:
      - ./apache-php/rclone.conf:/root/.config/rclone/rclone.conf:ro
    command: "serve webdav lmpay-sa: --addr :8081 --vfs-cache-mode writes"
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    privileged: true
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    devices:
      - /dev/fuse

